.i{
	text-align:center;
    color:pink;
    margin-left:500px;
	margin-right:500px;
	margin-bottom:10px;
	margin-top: 30px;

}
.k{
	margin-left:500px;
	margin-right:500px;
	margin-bottom:10px;
	margin-top: 30px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
	margin-left:600px;
	margin-right:520px;
	margin-bottom:10px;
	margin-top:150px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px 70px;
    cursor: pointer;
}
.d{
	font-size:1.5em;
	font-family: 'Roboto', sans-serif;
}
.but{
	margin-left:692px;
	margin-right:520px;
}
.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #4d78a3;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}